@charset "utf-8";

.depth01{
    list-style:none;
    margin:1;
    padding:2;

}

.active{

    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
    margin-right: 10px;

}