@charset "UTF-8";

.testlist_main_flex{
	
	display: flex;
	margin-left: 50px;
	

	
}
.testlist_flex{
	color: #0080ff;
	} 

.testlist_view_flex{
 
}

.li_mouseover{
	cursor: pointer;
}
.li_mouseover:hover {
    color: -webkit-link;
    text-decoration: underline;
}

a{  color: -webkit-link;
    cursor: pointer;
 }
    
a:hover {
  
    text-decoration: underline;
}
ol{  
    color: black;
    cursor: pointer;
    text-decoration: underline;
    list-style-type: decimal;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


