@charset "utf-8";

#home{position:relative;height:100vh;color:#fff;background:url(../images/common/bg_main.jpg) center center no-repeat;background-size:cover;}
#home .content_wrap{padding:33.3vh 6% 0;}
#home .txt_wrap .h1{font-weight:400;font-size:56px;line-height:72px;text-align:left;-webkit-transition:font-size .2s;-o-transition:font-size .2s;transition:font-size .2s;margin:0;}
#home .txt_wrap .h1 em{display:inline-block;font-weight:500;font-size:5rem;line-height:5.5rem;word-break:keep-all;-webkit-transition:font-size .2s;-o-transition:font-size .2s;transition:font-size .2s;}
#home .txt_wrap .txt{font-size:1.375rem;line-height:30px;margin:0.75rem 0 3.875rem;-webkit-transition:font-size .2s;-o-transition:font-size .2s;transition:font-size .2s;}
#home .txt_wrap .btn{width:20rem;height:4.250rem;}
#home .action_mouse{position:absolute;bottom:47px;left:50%;width:32px;height:46px;border:2px solid #fff;border-radius:16px;margin-left:-16px;}
#home .action_mouse .wheel{position:absolute;top:3px;left:50%;width:2px;height:10px;background:#fff;margin-left:-1px;}
#home .action_mouse:before{content:'';position:absolute;bottom:-28px;left:50%;width:18px;height:10px;background:url(../images/common/ico_wheel_down.png) 0 0 no-repeat;margin-left:-9px;-webkit-animation:action_mouse1 1.2s infinite;animation:action_mouse1 1.2s infinite;}
#home .action_mouse:after{content:'';position:absolute;bottom:-41px;left:50%;width:18px;height:10px;background:url(../images/common/ico_wheel_down.png) 0 0 no-repeat;margin-left:-9px;-webkit-animation:action_mouse2 1.2s infinite;animation:action_mouse2 1.2s infinite;}
@-webkit-keyframes action_mouse1{ 0% {opacity:1;} 20% {opacity:.5;} 40% {opacity:.25;} 60% {opacity:0;} 80% {opacity:.25;} 100% {opacity:.5;} }
@keyframes action_mouse1{ 0% {opacity:1;} 20% {opacity:.5;} 40% {opacity:.25;} 60% {opacity:0;} 80% {opacity:.25;} 100% {opacity:.5;} }
@-webkit-keyframes action_mouse2{ 0% {opacity:.25;} 20% {opacity:0;} 40% {opacity:.25;} 60% {opacity:.5;} 80% {opacity:1;} 100% {opacity:.5;} }
@keyframes action_mouse2{ 0% {opacity:.25;} 20% {opacity:0;} 40% {opacity:.25;} 60% {opacity:.5;} 80% {opacity:1;} 100% {opacity:.5;} }
#company .lst_introduce1{display:flex;display:-webkit-flex;display:-ms-flex;-ms-flex-wrap:nowrap;flex-wrap:nowrap;}
#company .lst_introduce1 li{width:29.6%;text-align:center;background:#fff;border:1px solid #d7d7d7;border-top:2px solid #8781bd;margin-left:4.9%;padding:43px 2.6% 62px;}
#company .lst_introduce1 li:first-child{margin-left:0;}
#company .lst_introduce1 li:nth-child(2){border-top:2px solid #1cbbb4;}
#company .lst_introduce1 li h2{word-break:keep-all;margin-bottom:23px;}
#company .lst_introduce1 li>p{font-weight:300;text-align:left;font-size:1.125rem;}
#company .bg_type02 .content_wrap{padding:2.875rem 6%;}
#company .ceo{position:absolute;top:47px;left:9%;width:383px;min-height:139px;background:#535252;padding-top:11px;padding-left:143px;}
#company .ceo .img{position:absolute;top:0;left:0;width:143px;height:139px;}
#company .ceo .h3{color:#a1b7f3;margin-top:9px;padding-left:11.7%;}
#company .ceo .txt{color:#fff;padding-left:11.7%;}
#company .ceo .txt>p{font-weight:300;word-break:keep-all;margin-top:0.563rem;}
#company .lst_wrap{float:left;width:calc(96.6% - 383px);color:#fff;margin-left:calc(3.4% + 383px);padding-left:9.2%;}
#company .lst_introduce2{float:left;width:45.7%;padding:11px 0 11px 4.1%;}
#company .lst_introduce2:last-child{margin-left:7.4%;}
#company .lst_introduce2 li{position:relative;font-weight:300;font-size:1.125rem;word-break:keep-all;margin-top:19px;padding-left:10px;}
#company .lst_introduce2 li:before{content:'';position:absolute;top:12px;left:0;width:5px;height:2px;background:#fff;}
#company .lst_introduce2 li:first-child{margin-top:0;}
#company .history_wrap .h1{font-family:'Montserrat';text-align:left;margin-bottom:0;}
#company .history_wrap .lst_history{position:relative;margin-top:-4.5rem;}
#company .history_wrap .lst_history:after{content:'';position:absolute;top:23px;left:50%;width:1px;height:0;background:#ccc;z-index:-1;-webkit-transition:height 3s;-o-transition:height 3s;transition:height 3s;}
#company .history_wrap .lst_history.active:after{height:calc(100% - 23px);}
#company .history_wrap .lst_history>li{color:#434343;margin-top:1.125rem;}
#company .history_wrap .lst_history>li:first-child{margin-top:0;}
#company .history_wrap .lst_history>li:before{content:'';position:absolute;top:1.406rem;width:22px;height:22px;background:url(../images/common/img_squar.png) 0 0 no-repeat;margin-top:-11px;}
#company .history_wrap .lst_history>li:after{content:'';position:absolute;top:1.406rem;width:5%;height:1px;background:#ccc;z-index:-1;}
#company .history_wrap .lst_history>li:nth-child(odd){position:relative;margin-left:50%;padding-left:4%;}
#company .history_wrap .lst_history>li:nth-child(odd):before{left:0;margin-left:-11px;}
#company .history_wrap .lst_history>li:nth-child(odd):after{left:0;}
#company .history_wrap .lst_history>li:nth-child(even){position:relative;text-align:right;margin-right:50%;padding-right:4%;}
#company .history_wrap .lst_history>li:nth-child(even):before{right:0;margin-right:-11px;}
#company .history_wrap .lst_history>li:nth-child(even):after{right:0;}
#company .history_wrap .lst_history>li .year{font-family:'Montserrat';font-weight:700;font-size:1.875rem;margin-bottom:1.75rem;}
#company .history_wrap .lst_history>li .detail{font-weight:300;font-size:1rem;}
#company .history_wrap .lst_history>li .detail li{word-break:keep-all;margin-top:0.75rem;padding-left:30px;}
#company .history_wrap .lst_history>li .detail li:first-child{margin-top:0;}
#company .history_wrap .lst_history>li .detail li>strong{display:inline-block;width:30px;font-family:'Montserrat';font-weight:500;margin-left:-30px;}

#business .bg{background:url(../images/business/bg_business.jpg) center center no-repeat;background-size:cover;background-attachment:fixed;}
#business .bg .content_wrap{padding:5rem 6% 4.813rem;}
#business .lst_business li{float:left;width:15.6%;color:#fff;text-align:center;margin-left:1.28%;padding:11.313rem 0 2.313em;}
#business .lst_business li:first-child{margin-left:0;}
#business .lst_business li.ico_bsn01{background:url(../images/business/ico_bsn1.png) center 3.625rem no-repeat;}
#business .lst_business li.ico_bsn02{background:url(../images/business/ico_bsn2.png) center 3.313rem no-repeat;}
#business .lst_business li.ico_bsn03{background:url(../images/business/ico_bsn3.png) center 3.5rem no-repeat;}
#business .lst_business li.ico_bsn04{background:url(../images/business/ico_bsn4.png) center 3.688rem no-repeat;}
#business .lst_business li.ico_bsn05{background:url(../images/business/ico_bsn5.png) center 3.875rem no-repeat;}
#business .lst_business li.ico_bsn06{background:url(../images/business/ico_bsn6.png) center 3.625rem no-repeat;}
#business .lst_business li>p{font-weight:500;font-size:1.125rem;line-height:23px;}
#business .bHistory{position:relative;background:#d9d9d9;margin-top:52px;padding:2.5rem 0;overflow:hidden;}
#business .bHistory .tit{position:relative;float:left;width:16.5%;font-weight:500;font-size:1.25rem;line-height:24px;text-align:center;}
#business .bHistory .tit:after{content:'';position:absolute;top:50%;left:86.3%;width:20px;height:33px;background:url(../images/common/ico_arrow_right.png) no-repeat;margin-top:-16.5px;}
#business .bHistory .lst_wrap{padding-left:16.5%;}
#business .bHistory .lst_history{float:left;width:36.8%;margin-left:4.6%;}
#business .bHistory .lst_history li{position:relative;font-size:1.125rem;line-height:24px;padding-left:10px;}
#business .bHistory .lst_history li:before{content:'';position:absolute;top:12px;left:0;width:5px;height:2px;background:#363636;}
#business .edu_wrap .h2{margin:7.5rem 0 4.563rem;}
#business .edu_wrap .h2 span{position:relative;font-size:2.25rem;color:#fff;padding-left:42px;}
#business .edu_wrap .h2 span:before{content:'';position:absolute;top:50%;left:0;width:30px;height:33px;background:url(../images/common/ico_tryangle.png) 0 0 no-repeat;margin-top:-16.5px;}
#business .edu_wrap .lst_edu{display:flex;display:-webkit-flex;display:-ms-flex;-ms-flex-wrap:wrap;flex-wrap:wrap;background:#ebebeb;padding:5.5rem 2.1% 4.5rem;}
#business .edu_wrap .lst_edu li{position:relative;float:left;width:31%;text-align:center;margin-left:3.5%;padding:0 2%;}
#business .edu_wrap .lst_edu li:first-child{margin-left:0;}
#business .edu_wrap .lst_edu li .img{width:72.3%;height:auto;margin:0 auto 1.125rem;}
#business .edu_wrap .lst_edu li .img img{max-width:311px;}
#business .edu_wrap .lst_edu li .tit span{font-size:1.125rem;}
#business .edu_wrap .lst_edu li .tit p{font-weight:500;font-size:1.875rem;line-height:2.375rem;word-break:keep-all;}
#business .edu_wrap .lst_edu li .con{font-weight:300;font-size:1.125rem;line-height:1.875rem;text-align:left;margin:1rem 0 5.625rem;}
#business .edu_wrap .lst_edu li .btn{position:absolute;bottom:0;left:50%;width:15rem;font-size:1.125rem;line-height:3.625rem;border-width:1px;margin-left:-7.5rem;}

#partners .lst_partner{overflow:hidden;margin:4.375rem 0 0 -2.2857%;}
#partners .lst_partner li{float:left;width:12%;height:40px;text-align:center;margin:0 0 5rem 2.2857%;}
#partners .lst_partner li>img{width:auto;max-width:100%;}

#portfolio .lst_project{display:flex;display:-webkit-flex;display:-ms-flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-left:-3.7333%;}
#portfolio .lst_project li{float:left;width:29.6%;margin:0 0 5.438rem 3.7333%;}
#portfolio .lst_project li .img{position:relative;border:1px solid #ccc;}
#portfolio .lst_project li .img:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0;-webkit-transition:all 800ms;-o-transition:all 800ms;transition:all 800ms;}
#portfolio .lst_project li .img:hover:before{opacity:0.6;-webkit-transition:all 800ms;-o-transition:all 800ms;transition:all 800ms;}
#portfolio .lst_project li .img.hoverEffect:before{opacity:0.6;-webkit-transition:all 800ms;-o-transition:all 800ms;transition:all 800ms;}
#portfolio .lst_project li .img .btn{display:none;position:absolute;top:50%;left:50%;width:15.75rem;height:auto;font-family:'Montserrat';font-size:1.875rem;border-width:1px;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
#portfolio .lst_project li .img:hover .btn{display:block;}
#portfolio .lst_project li .img.hoverEffect .btn{display:block;}
#portfolio .lst_project li.not .img:before{display:none;}
#portfolio .lst_project li>strong{display:block;font-weight:400;font-size:1.25rem;word-break:keep-all;margin:1rem 0 0.375rem;}
#portfolio .lst_project li>p{font-size:1rem;color:#636363;margin-bottom:1rem;}

#recruit .subTit{margin-bottom:3.75rem;}
#recruit .lst_recruit{display:flex;display:-webkit-flex;display:-ms-flex;-ms-flex-wrap:wrap;flex-wrap:wrap;}
#recruit .lst_recruit>li{width:26.3%;font-weight:300;font-size:1.125rem;text-align:center;background:url(../images/common/img_hexagon.png) 0 0 no-repeat;background-size:100% 100%;margin-left:10.55%;padding:7.375rem 4% 6.625rem;}
#recruit .lst_recruit>li .h2{word-break:keep-all;margin-bottom:2.125rem;}
#recruit .lst_recruit>li .step{display:inline-block;text-align:left;}
#recruit .lst_recruit>li .step>li{text-indent:-1rem;margin:0 0 3px 1rem;}
#recruit .lst_recruit>li:first-child{margin-left:0;}
#recruit .lst_recruit>li:first-child .btn{font-size:1.125rem;line-height:3.25rem;color:#6e66bc;border-color:#8781bd;margin-top:3.75rem;}
#recruit .lst_recruit>li:first-child .btn:hover{color:#fff;}
#recruit .lst_recruit>li:first-child .btn:hover:after{background:#8781bd;}
#recruit .lst_recruit>li:nth-child(2) .txt_h{color:#1cbbb4;margin-top:1.75rem;}
#recruit .lst_recruit>li:nth-child(3) .txt_h{font-size:1rem;color:#5674b9;word-break:keep-all;margin-top:2.313rem;}
#recruit .lst_recruit>li:nth-child(3)>p{line-height:1.875rem;}

#contact .content_wrap{position:relative;padding:9.25rem 6%;}
#contact .map_wrap{float:left;width:67.7%;height:527px;background:#eee;}
#contact .map_wrap #map{width:100%;height:100%;}
#contact .info{float:right;width:32.3%;padding-left:5.7%;}
#contact .info .sns_wrap li{float:left;width:3.875rem;margin-left:1.375rem;}
#contact .info .sns_wrap li:first-child{margin-left:0;}
#contact .info .h2{max-width:346px;margin:2.375rem 0 2.875rem;}
#contact .info .lst_info li{font-weight:300;font-size:1.125rem;color:#d7d7d7;margin-bottom:0.938rem;}
#contact .info .copyright{font-size:0.875rem;color:#7d7d7d;border-top:1px solid #636363;margin-top:1.75rem;padding-top:0.688rem;}